<template>
    <div class="text">
        <h2>{{ greeting }}</h2>
        <h2>{{ sayHi.msg }} {{ sayHi.user }}</h2>
        <h2>{{ hi }}</h2>
        <b><button @click="newGreeting">Function</button></b>
        <b><button @click="newGreeting2">Function New</button></b>
        <b><button @click="newGreeting3">Function3</button></b>
        <p><input type="text" @input="setFirstName"></p>
    </div>
</template>

<script>
import { ref, reactive, computed} from 'vue';
    export default {
        setup(){
            const greeting = ref(
                // {
                //     msg:"Hello",
                //     user:"Jimmy"
                // }
                'Hello World'
            )
            const user = ref(
                {
                    firstName: '',
                    lastName: ''
                }
            )
            const setFirstName = ($event) => {
                user.value.firstName = $event.target.value
            }
            const hi = computed(() => {
                return 'Hi' + ' ' + user.value.firstName
            })
            const sayHi = reactive(
                {
                    msg: 'Hi',
                    user: 'Bill'
                }
            )
            function newGreeting(){
                greeting.value = "Hi Jane"
            }
            // Anonymous function
            const newGreeting2 = function(){
                greeting.value = "Hi Joy"
            }
            // Arrow function
            const newGreeting3 = () => {
                sayHi.msg = 'Say Hi'
                sayHi.user = 'Jhon'
            }            
            return { 
                greeting, 
                sayHi, 
                user, 
                newGreeting, 
                newGreeting2, 
                newGreeting3, 
                setFirstName,
                hi,
            }
        }
    }
</script>

<style scoped>
.text{
    text-align: center;
}
</style>