<template>
  <div class="text">
    <router-link v-bind:to="{name:'home'}">Home</router-link> |
    <router-link v-bind:to="{name:'about'}">About</router-link> |
    <router-link v-bind:to="{name:'OptionAPI'}">Option API</router-link> |
    <router-link v-bind:to="{name:'CompositionAPI'}">Composition API</router-link> |
    <router-link v-bind:to="{name:'reactive-view'}">Reactive</router-link> |
    <router-link v-bind:to="{name:'twoway'}">TwoWay</router-link>
  </div>
  <router-view/>
</template>

<script setup>

</script>

<style scoped>
.router-link-exact-active{
  color: rgb(42, 181, 35);
  text-decoration: none;
}
.text{
  text-align: center;
}

</style>